<section id="about" class="section_small">
  <div class="container">
    <h2 class="about-title">About us</h2>
    <div class="wrapper">
      <img
        srcset="
          ./assets/images/desktop/about.jpeg    1x,
          ./assets/images/desktop/about@2x.jpeg 2x,
          ./assets/images/desktop/about@3x.jpeg 3x
        "
        src="./assets//images/desktop/about.jpeg"
        alt="About us"
      />
      <div class="description">
        <h3>About us</h3>
        <div class="content">
          <p>
            For more than 30 years we have been delivering world-class
            construction and we’ve built many lasting relationships along the
            way.
          </p>
          <p>
            We’ve matured into an industry leader and trusted resource for those
            seeking quality, innovation and reliability when building in the
            U.S.
          </p>
        </div>
        <a class="our-history" href="#">More on Our History</a>
      </div>
    </div>
  </div>
</section>
