<section id="call" class="call section_small">
  <div class="container call-container">
    <h3>What can us do for you?</h3>
    <p>
      We are ready to work on a project of any complexity, <br />whether it’s
      commercial or residential.
    </p>
    <form>
      <div class="form">
        <div class="input-wrapper">
          <input class="form-input" type="text" required />
          <div class="form-placeholder">Your Name</div>
        </div>
        <div class="input-wrapper">
          <input class="form-input" type="email" required />
          <div class="form-placeholder">Email</div>
        </div>
        <div class="select">
          <div class="select__header input-wrapper">
            <input
              class="select__current form-input"
              placeholder=""
              required
              readonly
            />
            <div class="form-placeholder">Reason for Contacting</div>
            <svg class="select__icon" width="20" height="20">
              <use href="./assets/svgs/symbol-defs.svg#arrow-down"></use>
            </svg>
          </div>
          <div class="select__body">
            <div class="select__item">Reason 1</div>
            <div class="select__item">Reason 2</div>
            <div class="select__item">Reason 3</div>
            <div class="select__item">Reason 4</div>
          </div>
        </div>
        <div class="input-wrapper">
          <input class="form-input" type="text" />
          <div class="form-placeholder">Phone</div>
        </div>
        <textarea class="form-textarea" placeholder="Message"></textarea>
      </div>
      <span class="required-fields">indicates a required field</span>
      <button class="submit-button">Submit</button>
    </form>
  </div>
</section>
