<header>
  <div class="header-container container">
    <a class="header-logo" href="/" aria-label="Home page">
      <svg width="163" height="48">
        <use href="./assets/svgs/symbol-defs.svg#logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#hero">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
