<section id="hero">
  <div class="container">
    <h1 class="hero-title">
      Building things <br />
      is our mission.
    </h1>
    <div class="hero-description">
      <div class="description-info">
        <p>Feature Projects</p>
        <span>The National University of Architecture</span>
      </div>
      <div class="button-container">
        <button>
          <svg width="29" height="17">
            <use href="./assets/svgs/symbol-defs.svg#arrow-left"></use>
          </svg>
          <span>Back</span>
        </button>
        <button>
          <span>Next</span>
          <svg width="29" height="17">
            <use href="./assets/svgs/symbol-defs.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
