<section id="projects" class="section_large">
  <div class="projects-container container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-wrapper">
      <ul class="sort-list">
        <li class="sort-item"><span>All</span></li>
        <li class="sort-item"><span>Commercial</span></li>
        <li class="sort-item"><span>Residential</span></li>
        <li class="sort-item"><span>Other</span></li>
      </ul>
      <div class="projects-content">
        <ul class="content-list">
          <li class="content-item">
            <figure>
              <picture>
                <source
                  srcset="
                    ./assets/images/desktop/projects-1.jpeg    1x,
                    ./assets/images/desktop/projects-1@2x.jpeg 2x,
                    ./assets/images/desktop/projects-1@3x.jpeg 3x
                  "
                />
                <img
                  src="./assets/images/desktop/projects-1.jpeg"
                  alt="Hotel"
                />
              </picture>
              <figcaption>
                <p>Wildstone Infra Hotel</p>
                <address>2715 Ash Dr. San Jose, South Dakota</address>
              </figcaption>
            </figure>
          </li>
          <li class="content-item">
            <figure>
              <picture>
                <source
                  srcset="
                    ./assets/images/desktop/projects-2.jpeg    1x,
                    ./assets/images/desktop/projects-2@2x.jpeg 2x,
                    ./assets/images/desktop/projects-2@3x.jpeg 3x
                  "
                />
                <img
                  src="./assets/images/desktop/projects-2.jpeg"
                  alt="Hotel"
                />
              </picture>
              <figcaption>
                <p>Wish Stone Building</p>
                <address>2972 Westheimer Rd. Santa Ana, Illinois</address>
              </figcaption>
            </figure>
          </li>
          <li class="content-item">
            <figure>
              <picture>
                <source
                  srcset="
                    ./assets/images/desktop/projects-3.jpeg    1x,
                    ./assets/images/desktop/projects-3@2x.jpeg 2x,
                    ./assets/images/desktop/projects-3@3x.jpeg 3x
                  "
                />
                <img
                  src="./assets/images/desktop/projects-3.jpeg"
                  alt="Hotel"
                />
              </picture>
              <figcaption>
                <p>Mr. Parkinston’s House</p>
                <address>3517 W. Gray St. Utica, Pennsylvania</address>
              </figcaption>
            </figure>
          </li>
          <li class="content-item">
            <figure>
              <picture>
                <source
                  srcset="
                    ./assets/images/desktop/projects-4.jpeg    1x,
                    ./assets/images/desktop/projects-4@2x.jpeg 2x,
                    ./assets/images/desktop/projects-4@3x.jpeg 3x
                  "
                />
                <img
                  src="./assets/images/desktop/projects-4.jpeg"
                  alt="Hotel"
                />
              </picture>
              <figcaption>
                <p>Oregano Height</p>
                <address>2464 Royal Ln. Mesa, New Jersey</address>
              </figcaption>
            </figure>
          </li>
        </ul>
        <div class="pagination">
          <button type="button" class="pagination-button">
            <svg width="26" height="17">
              <use href="./assets/svgs/symbol-defs.svg#arrow-left"></use>
            </svg>
            <span>Back</span>
          </button>
          <ul class="pagination-list">
            <li class="pagination-item active"><a href="" class="page"></a></li>
            <li class="pagination-item"><a href="" class="page"></a></li>
            <li class="pagination-item"><a href="" class="page"></a></li>
            <li class="pagination-item"><a href="" class="page"></a></li>
            <li class="pagination-item"><a href="" class="page"></a></li>
          </ul>
          <button type="button" class="pagination-button">
            <span>Next</span>
            <svg width="26" height="17">
              <use href="./assets/svgs/symbol-defs.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
