<section id="reputation" class="section_small">
  <div class="container reputation-container">
    <h2 class="reputation_title">Our Reputation</h2>
    <ul class="reputation_list">
      <li class="reputation_item">
        <svg width="40" height="40">
          <use href="./assets/svgs/symbol-defs.svg#call"></use>
        </svg>
        <h3>Best Services</h3>
        <p>Nullam senectus porttitor in eget. Eget rutrum leo interdum.</p>
      </li>
      <li class="reputation_item">
        <svg width="40" height="40">
          <use href="./assets/svgs/symbol-defs.svg#call"></use>
        </svg>
        <h3>Best Teams</h3>
        <p>Cursus semper tellus volutpat aliquet lacus.</p>
      </li>
      <li class="reputation_item">
        <svg width="40" height="40">
          <use href="./assets/svgs/symbol-defs.svg#design"></use>
        </svg>
        <h3>Best Designs</h3>
        <p>Ultricies at ipsum nunc, tristique nam lectus.</p>
      </li>
    </ul>
  </div>
</section>
