<section id="services" class="section_small">
  <div class="container_large">
    <h2 class="services-title">Services</h2>
    <ul class="services-list">
      <li class="services-item">
        <div class="services-icon">
          <svg width="40" height="40">
            <use href="./assets/svgs/symbol-defs.svg#construction"></use>
          </svg>
        </div>
        <span>Construction</span>
      </li>
      <li class="services-item">
        <div class="services-icon">
          <svg width="40" height="40">
            <use href="./assets/svgs/symbol-defs.svg#renovation"></use>
          </svg>
        </div>
        <span>Renovation</span>
      </li>
      <li class="services-item">
        <div class="services-icon">
          <svg width="40" height="40">
            <use href="./assets/svgs/symbol-defs.svg#consult"></use>
          </svg>
        </div>
        <span>Consultation</span>
      </li>
      <li class="services-item">
        <div class="services-icon">
          <svg width="40" height="40">
            <use href="./assets/svgs/symbol-defs.svg#repair"></use>
          </svg>
        </div>
        <span>Repair Services</span>
      </li>
      <li class="services-item">
        <div class="services-icon">
          <svg width="40" height="40">
            <use href="./assets/svgs/symbol-defs.svg#architect"></use>
          </svg>
        </div>
        <span>Architecture</span>
      </li>
      <li class="services-item">
        <div class="services-icon">
          <svg width="40" height="40">
            <use href="./assets/svgs/symbol-defs.svg#electric"></use>
          </svg>
        </div>
        <span>Electric</span>
      </li>
    </ul>
  </div>
</section>
