<section id="stats" class="section_small">
  <div class="stats-container container">
    <ul class="stats-list">
      <li class="stats-item">
        <span>30</span>
        <span>Years in Business</span>
        <img
          srcset="
            ./assets/images/desktop/years_in_business.jpeg    1x,
            ./assets/images/desktop/years_in_business@2x.jpeg 2x,
            ./assets/images/desktop/years_in_business@3x.jpeg 3x
          "
          src="./assets/images/desktop/years_in_business.jpeg"
          alt="Years in Business"
        />
      </li>
      <li class="stats-item">
        <span>123</span>
        <span>Projects Completed</span>
        <img
          srcset="
            ./assets/images/desktop/projects_completed.jpeg    1x,
            ./assets/images/desktop/projects_completed@2x.jpeg 2x,
            ./assets/images/desktop/projects_completed@3x.jpeg 3x
          "
          src="./assets/images/desktop/projects_completed.jpeg"
          alt="Projects Completed"
        />
      </li>
      <li class="stats-item">
        <span>37</span>
        <span>Awards Win</span>
        <img
          srcset="
            ./assets/images/desktop/awards_win.jpeg    1x,
            ./assets/images/desktop/awards_win@2x.jpeg 2x,
            ./assets/images/desktop/awards_win@3x.jpeg 3x
          "
          src="./assets/images/desktop/awards_win.jpeg"
          alt="Awards Win"
        />
      </li>
      <li class="stats-item">
        <span>84</span>
        <span>Happy Clients</span>
        <img
          srcset="
            ./assets/images/desktop/happy_clients.jpeg    1x,
            ./assets/images/desktop/happy_clients@2x.jpeg 2x,
            ./assets/images/desktop/happy_clients@3x.jpeg 3x
          "
          src="./assets/images/desktop/happy_clients.jpeg"
          alt="Happy clients"
        />
      </li>
    </ul>
    <div class="experience-wrapper">
      <h2 class="experience-title">30 Years Experience</h2>
      <p class="experience-content">
        Our company has been the leading provided construction services to
        clients throughout the USA since 1988.
      </p>
      <a href="#call">Contact Us</a>
    </div>
  </div>
</section>
