$primary-color: #2947a9;
$secondary-color: #f9995d;
$primary-text-color: #292e3d;
$secondary-text-color: #667299;

$main-white-color: #ffffff;
$placeholder-color: #a3aac2;
$secondary-background-color: #f6f8f7;
