.reputation-container {
  padding-left: 216px;
  padding-right: 216px;
}

.reputation_title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
}

.reputation_list {
  display: flex;
}

.reputation_item {
  width: calc((100% - 132px) / 3);
  padding: 20px 20px 30px;
  border-radius: 4px;
  outline: 1.4px solid $placeholder-color;
}
.reputation_item:not(:last-child) {
  margin-right: 66px;
}

.reputation_item h3 {
  margin-top: 20px;
  font-size: 20px;
}

.reputation_item p {
  margin-top: 20px;
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.19;
}
